.tag-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    border: 4px black solid;
    border-radius: 25px;
}
.tag-container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: relative;
    border-radius: 20px;
    opacity: 0.8;
}
.tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    width: 85%;
    align-items: center;
    position: absolute;
    user-select: none;
}
.realms{
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 500;
    font-size: 17px;
    padding: 8px 14px;
    background-color: #ffcd45;
    border: 2.5px #d7b34d solid;
    border-radius: 12px;
    box-shadow: inset 0px 3px 0 #ffe7a5;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
.realms:hover{
    transform: translate(0px,-5px);
}
.clicked{
    background-color: #4a6865;
    border: 2.5px #3f5554 solid;
    box-shadow: inset 0px 3px 0 #77a7a2;
    transition: all 0.15s ease-in-out;
 }
.clicked:hover{
    transform: translate(0,-5px);
}