.tag-slider{
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.tag-slide-show{
  display: flex;
  gap: 35px;
  animation: 25s slide infinite linear;
}
.categories{
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 500;
  padding: 8px 14px;
  background-color: #ffcd45;
  border: 2.5px #d7b34d solid;
  border-radius: 12px;
  box-shadow: inset 0px 3px 0 #ffe7a5;
  cursor: default;
}
@keyframes slide {
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(-100%);
  }
}