@media only screen and (max-width: 1200px) {
    .pop-up {
        width: 800px;
        height: 750px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
    }

    .pop-up img {
        width: 500px;
        height: 200px;
    }

    .pop-up .form {
        margin-right: 0;
        width: 550px;
        margin-bottom: 40px;
    }
    .trend-container {
        height: auto;
    }
    .trend-game {
        height: auto;
        flex: 0 0 100%;
        min-width: 100%;
    }
    .game-name{
        left: 14%;
        bottom: 17%;
    }
    .game-tags{
        left: 14%;
        bottom: 10%;
    }
}